.u-flex {
  display: flex;
}

.u-center {
  justify-content: center;
}

.Costumes-mainContainer {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Costumes-costumeContainer {
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: 250px 250px;
}

.Costumes-button {
  position: relative;
  display: flex;
  justify-content: center;
}

.Costumes-dressed-egg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}

.Costumes-egg {
  position: relative;
  height: auto;
  width: 150px;
}

.Costumes-costume {
  background-color: transparent;
  position: absolute;
  width: 177px;
}

.Costumes-dummy-hover {
  position: absolute;
  width: 100%;
  padding-top:100%;
}

.Costumes-secondaryContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.Title-container {
  font-family: "Jua", sans-serif;
  font-size: 64px;
}

.Costumes-descriptionContainer {
  margin-top: 32px;
  margin-bottom: 24px;
  font-family: "Jua", sans-serif;
  height: 24px;
  font-size: 24px;
}

.Costumes-lockedText {
  color: red;
}

.Costumes-titleText {
  margin-bottom: 0;
}

#start-anim {
  width: 100%;
}

.u-flex {
  display: flex;
}

.Start-container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Directions-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Title-container {
  justify-content: center;
}

.Directions-button {
  font-size: 48px;
  width: 24rem;
  border: none;
  padding: 4px;
  margin: 16px 0px;
  font-family: "Jua", sans-serif;
  background-color: #fdf8ed;
}

a {
  text-decoration: none;
  background-color: #fdf8ed;
}

.button-front {
  background-color: #fffbf7;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  transform: translate(-10px, -10px);
  will-change: transform;
  transition: transform 150ms;
}

.button-pushable {
  width: 100%;
  border-radius: 12px;
  background-color: #f4f4f2;

  outline-offset: 4px;
}

.button-pushable:active .button-front {
  transform: translate(-2px, -2px);
}

.Scrambled-text-container {
  margin-top: 8px;
}

.u-flex {
  display: flex;
}

.u-justify-content {
  justify-content: center;
}
