.Tip-container {
  position: absolute;
  outline: solid;
  outline-width: 4px;
  border-radius: 32px;
  height: 240px;
  width: 360px;
  right: 32px;
  bottom: 32px;
}

.Tip-homeButton {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 180px;
}

.Tip-title {
  font-family: "Jua", sans-serif;
  font-size: 48px;
  text-align: center;
  margin: 16px;
}

.Tip-text {
  font-family: "Jua", sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 16px;
}

.u-margin-top {
  margin-top: 32px;
}

.Tip-columns {
  background-color: transparent;

  position: absolute;
  bottom: 0;
  height: 96px;
  width: 360px;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.Tip-button {
  padding: 32px;
}

.Tip-dbutton {
  font-size: 48px;
  border: none;
  padding: 4px;
  margin: 16px 0px;
  font-family: "Jua", sans-serif;
  background-color: #fdf8ed;
}

.button-pushableButNotReally {
  border-radius: 12px;
  background-color: #f4f4f2; /*blue*/
  outline-offset: 4px;
}

.button-pushableButNotReally:active .button-front {
  transform: translate(-2px, -2px);
}

.button-pushableButNotReally:hover .button-front {
  transform: translate(-8px, -8px);
}

.button-pushable {
  width: 100%;
  border-radius: 12px;
  background-color: #f4f4f2; /*blue*/
  outline-offset: 4px;
}

.button-pushable:active .button-front {
  transform: translate(-2px, -2px);
}

.button-pushable:hover .button-front {
  transform: translate(-8px, -8px);
}

.button-front {
  background-color: #fffbf7;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  transform: translate(-10px, -10px);
  will-change: transform;
  transition: transform 150ms;
  width: 100%;
  height: 100%;
}

