@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root {
    --light-orange: #eeb007,
    --orange: #f8c947,
    --brown: #3a220a,
}

.u-font {
  font-family: "Jua", sans-serif;
}

.u-margin-top {
  margin-top: 32px;
}

.Maps-text {
  font-family: "Jua", sans-serif;
  font-size: 48px;
  white-space: nowrap;
  text-align: center;
  margin: 0 16px 0 16px;
  width: 240px;
}

.Maps-textSmall {
  font-family: "Jua", sans-serif;
  font-size: 24px;
  white-space: nowrap;
  margin: 0;
}

.Lobby-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lobby-buttonsContainer {
  width: 400px;
  margin-left: 32px;
}

.Rooms-container {
  width: 32rem;
  height: 24rem;
  border: 4px solid var(--brown);
  border-radius: 12px;
  background-color: #eeb007;
}

.Rooms-list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.Room-available {
  display: block;
  cursor: pointer;
  font-size: 48px;
  /*border-radius: 12px;*/
  padding: 24px 16px;
  margin: 8px;
  will-change: transform;
  transition: transform 150ms;
  background-color: #f8c947;
}

.Rooms-list li {
    margin: 0;
    padding: 16px 24px;
  
    border-bottom: 4px solid white;
    will-change: transform;
    transition: transform 150ms;
    cursor: pointer;
  }

.Room-available:active {
  transform: translate(0, 4px);
}

.Room-available:hover {
  transform: translate(0, 2px);
}

.Room-available-text {
  background-color: #f8c947;
}

.u-white {
  color: white;
}

.u-brown {
  color: #3a220a;
}

.u-orange {
  color: #f56d0c;
}

.space {
  height: 64px;
}

.Maps-container {
  background-color: #fffbf7;
  justify-content: space-around;
  width: 28rem;
  padding: 32px 8px;
  border-radius: 12px;
}
.Maps-behind {
  width: 30rem;
  background-color: #f4f4f2;
  border-radius: 12px;
  height: 16rem;
}

.Map-card {
  /* background-color: orange; */
  width: 8rem;
  /* border: 2px solid green; */
  padding: 0;
}
.Map-button {
  border: none;
  background-color: #fffbf7;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0;
}
.img-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  /* background: green; */
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Players-container {
  display: flex;
  justify-content: center;
}

.Map-title-container {
  /* background-color: blue; */
  margin-top: 8px;
  border-radius: 12px;
}

.Map-title {
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.Room-start-container {
  margin-top: 48px;
}

.Escape-container {
  margin-top: 32px;
}

.Title-subtext {
  font-size: 24px;
}


.No-rooms-container {
    background: transparent;
    padding: 16px 24px;
    font-size:32px;
    color: var(--light-orange);
}