.Mascot-subcontainer {
  display: flex;
  justify-content: center;
}

.Mascot-mascot {
  position: relative;
  margin-bottom: 96px;
  margin-right: 24px;

  cursor: pointer;
}

.Mascot-egg {
  position: relative;
  top: 90px;
  left: 15px;

  height: auto;
  width: 150px;
}

.Mascot-costume {
  background-color: transparent;
  position: absolute;
  height: auto;
  top: 0;
  left: 0px;

  height: auto;
  width: 177px;
}

.Mascot-text {
  font-family: "Jua", sans-serif;
  font-size: 24px;
  margin-bottom: 32px;
}
